<h1>Welcome#index</h1>
 
<% if user_signed_in? %>
  <%= link_to 'プロフィール変更', edit_user_registration_path %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

  <%= link_to '投稿する', new_posts_path %>
  <%= link_to '投稿一覧', list_posts_path %>

<% else %>
  <%= link_to 'ユーザー登録', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.title %></p>
  <%= image_tag post&.question_image.url, :height => "200", :style => "border: 3px #000000 solid;" %>
  <%= link_to questions_path(id: post.id) do %>
    詳細を見る
  <% end %>
<% end %>