<div class="container">
  <div class="flex">
    <h3 class="header">謎解き問題一覧</h3>
  </div>
  <div>編集</div>
  <hr>
  <hr>
  <% @posts.each do |post| %>
    <%= nested_form_for post, url: posts_path(0), method: :put do |f| %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :updated_at %>
      <%= image_tag post&.question_image.url, :height => "200" %>
      <%= image_tag post&.answer_image.url, :height => "200" %>
      <p><%=f.label "タイトル" %><span style="color: red;">*</span><br><%= f.text_field :title, placeholder: 'タイトル' %></p>
      <p><label><%= f.radio_button :challenge_level, 'basic', checked: true %><span>初級</span></label></p>
      <p><label><%= f.radio_button :challenge_level, 'medium' %><span>中級</span></label></p>
      <p><label><%= f.radio_button :challenge_level, 'advance' %><span>上級</span></label></p>
      <p><%=f.label "問題文" %><br><%= f.text_field :question_text, placeholder: '問題文' %></p>
      <p><%=f.label "解答文" %><br><%= f.text_field :answer_text, placeholder: '解答文' %></p>
      <p><%=f.label "解答" %><br><span style="color: red;">*</span><%= f.text_field :answer, placeholder: '解答' %></p>
      <p><%=f.label "備考" %><br><%= f.text_field :remarks, placeholder: '備考' %></p>
      <p><%=f.label "表示順" %><br><%= f.number_field :display_order, placeholder: '表示順' %></p>
      <p><%=f.label "問題画像をアップロード" %><span style="color: red;">*</span><br><%= f.file_field :question_image %></p>
      <p><%=f.label "解答画像をアップロード" %><span style="color: red;">*</span><br><%= f.file_field :answer_image %></p>
      <%= f.fields_for :hints do |hint| %>
        <p><%= hint.label "ヒント" %><br><%= hint.text_field :hint, placeholder: 'ヒント' %></p>
        <%= hint.link_to_remove "ヒント削除" %>
      <% end %>
      <%= f.link_to_add 'ヒント追加', :hints %>
      <p><%= f.submit value: '更新' %></p>
      <% if @post&.errors.present? %>
        <% @post&.errors&.full_messages&.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      <% end %>
    <% end %>
    <%= form_for post, url: posts_path(0), method: :delete do |f| %>
      <%= f.hidden_field :id %>
      <%= f.button '削除' %>
    <% end %>
  <% end %>
</div>
